@using EntityLayer.Concrete
@model List<About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Hakkımda Başlığı</th>
        <th>Aktif Yap</th>
        <th>Pasif Yap</th>
        
    </tr>
    @foreach(var item in Model)
            {
                <tr>
                    <td>@item.AboutID</td>
                    <td>@item.AboutDetails1</td>
                    <td><a href="#" class="btn btn-warning">Aktif yap</a></td>
                    <td><a href="#" class="btn btn-danger">Pasif yap</a></td>
                </tr>
            }
</table>
<button class="btn btn-primary" data-toggle="modal" data-target="#Modal1">
    Yeni Hakkımızda Yazı girişi
</button>


@Html.Partial("AboutPartial","Index")